# ignore virtual env
voicebot_venv/

# ignore system file
.idea/

# ignore tar.gz
*.tar.gz

# ignore pycache
**/__pycache__

# asset files
core/custom_components/wavs
core/custom_components/tts_modules/assets
core/custom_components/tts_modules/scripts
core/custom_components/pre-trained

# migrated modules
django_apis/
client/
db.sql
db_diagram.mwb
triggers.sql
