# ignore virtual env
voicebot_venv/

# ignore system file
.idea/

# ignore tar.gz
*.tar.gz

# ignore pycache
**/__pycache__

# asset files
client/wavs
client/tts_modules/assets
client/tts_modules/scripts
playground/custom_components/wavs
playground/custom_components/tts_modules/assets
playground/custom_components/tts_modules/scripts
